<div class="row">
    <div class="col-4">
        <input
            [(ngModel)]="phrase" 
            type="text" 
            class="form-control" 
            placeholder="filtering">
    </div>
    <div class="col-2">
        <select [(ngModel)]="filterKey" class="form-control">
            <option value="">any field</option>
            <option *ngFor="let col of cols" [value]="col.key">
                {{ col.title }}
            </option>
        </select>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th *ngFor="let col of cols">
                {{ col.title }}
            </th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody *ngIf="list$ | async; let items">
        <tr *ngFor="let row of items | filter:phrase:filterKey; trackBy: trackFn">
            <td *ngFor="let col of cols">
                {{ row[col.key] }}
            </td>
            <td>
                <div class="btn-group">
                    <a [routerLink]="'/edit/'+row.id" class="btn btn-info">
                        <i class="fa fa-retweet"></i>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<!-- <div *ngIf="col.key !== 'phone'">
    {{ row[col.key] }}
</div>
<div appCallButton [ngbPopover]="popContent" popoverTitle="Call this" *ngIf="col.key === 'phone'">
    {{ row[col.key] }}
</div>
<ng-template #popContent>
    <a href="call: {{ row[col.key] }}" class="btn btn-success">
        {{ row[col.key] }}
    </a>
</ng-template> -->